body{
    background-color: rgb(90, 223, 178);
}
h1{
    color: rgb(21, 21, 180);
    text-decoration: underline;
    text-shadow: 2px 2px 2px ;
    font-size: xx-large;
    font-weight: 200;
    font-style: italic;
    text-decoration-color: rgb(36, 7, 63);
}
h1+p {
    color: rgb(130, 40, 214);
    background-color: bisque;
}
ul>li {
    font-weight: 200;
    text-decoration: underline;
    font-style: oblique;
    text-decoration-line: underline;
    text-shadow: 3px;
    color: rgb(64, 64, 158);
    background-color: rgba(190, 127, 127, 0.733);
}
a:hover{
    color:red;
}
a:not(li){
    border:2px dashed
}
li:nth-child(2){
    background-color: paleturquoise;
}
a:nth-last-child(4){
    background-color: blanchedalmond;


}
a::before{
    content:"🐟"
}
a::after{
    content:"⭐"
}
li::after{
    content:"🔥"
}


