*{
    background-color: cadetblue;
}
h1{
    color: aquamarine;
    text-decoration-line: underline;
    font: 400;
    font-size: xx-large;
    font-weight: 300;
    font-family: sans-serif;
    padding: 2px;
    margin-left: 100px;
    margin-right: 300px;
    background-color: bisque;

}
#p12{ 
    background-color: beige;
    color: blue;
    text-decoration: underline;
    font-size: x-large;
    font-family: 'Segoe UI';
    margin-left: 20px;
    padding: 3px;

}
#p13{
    background-color:pink;
    color: black;
    text-decoration: underline;
    font-size: medium;
    font-family: Impact;
    margin-left: 30px;
    padding: 3px;
}
#work{
    float: left;
}
#hello{
    float: right;
}
p{ 
    text-align: center;
}

