.normal{
    color: blueviolet;
    background-color: bisque;
    width: 150px;
    height: 150px;
    border: solid  blue;
}
.fixed{
    background-color: aqua;
    width: 150px;
    position: fixed;
    top: 0px;
    border:solid red;
    left:150px;

}
.relative{
    background-color: blue;
    position: relative;
    left:100px;

}
.absolute{
    border: solid pink;
    background-color: bisque;
    position: absolute;
    left: 100px;
    
}
.sticky{
    background-color: cadetblue;
    position: sticky;
    width: 150px;
    height:100px;
    border: solid darkred;
    top: 20px;
    left:20px;

}